In [1]:
#tuples
ratings = (10,9,6,5,10,8,9,6,2)

In [2]:
tuple1 = ('disco', 10, 1.2)

In [3]:
type(tuple1)

tuple

In [4]:
tuple1[0]

'disco'

In [6]:
tuple1[-1]

1.2

In [7]:
tuplenew = tuple1 + ratings

In [8]:
tuplenew

('disco', 10, 1.2, 10, 9, 6, 5, 10, 8, 9, 6, 2)

In [9]:
tuplenew[::3]

('disco', 10, 5, 9)

In [10]:
tuplenew[0:3]

('disco', 10, 1.2)

In [11]:
len(tuplenew)

12

In [12]:
ratings1 = ratings

In [13]:
ratings1

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [14]:
rsort = sorted(ratings1)

In [15]:
rsort

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [16]:
#nesting tuples
nt = (1, 2, ("pop", "rock"), (3,4), ("disco",(1,2)))

In [17]:
nt[2]

('pop', 'rock')

In [18]:
nt[2][1]

'rock'

In [20]:
nt[4][1][0]

1

In [21]:
#LISTS
l = ["mike jack", 10.1, 1982]

In [22]:
l[0]

'mike jack'

In [26]:
l[1:3]

[10.1, 1982]

In [27]:
l2 =l + [5, 6]
l2

['mike jack', 10.1, 1982, 5, 6]

In [29]:
l.extend([5, "yes"])
l

['mike jack', 10.1, 1982, 5, 'yes']

In [30]:
l.append(["a", "b"])
l

['mike jack', 10.1, 1982, 5, 'yes', ['a', 'b']]

In [32]:
l[5][0]

'a'

In [33]:
#delete an item in list
del(l[4])

In [34]:
l

['mike jack', 10.1, 1982, 5, ['a', 'b']]

In [35]:
"hello new york".split()

['hello', 'new', 'york']

In [39]:
A = "a,b,c,d".split(",")
A

['a', 'b', 'c', 'd']

In [40]:
B = A

In [41]:
A[0] = "banana"

In [42]:
B  #b also changes with A - aliasing

['banana', 'b', 'c', 'd']

In [43]:
#clone will changeA and B :
B = A[:]

In [44]:
B

['banana', 'b', 'c', 'd']

In [45]:
B[0] = "apple"
B

['apple', 'b', 'c', 'd']

In [46]:
A

['banana', 'b', 'c', 'd']

In [47]:
A=(0,1,2,3)

In [49]:
A[3]

3

In [50]:
A[-1]

3

In [52]:
B=["a","b","c"]

In [53]:
B[1:]

['b', 'c']

### Sets

In [67]:
s1 = { "p", "q", "r", "r"}
s1

{'p', 'q', 'r'}

In [55]:
lis = ["a", "b", "b", "c"]
liset = set(lis)
liset

{'a', 'b', 'c'}

In [68]:
s1.add("s")
s1

{'p', 'q', 'r', 's'}

In [69]:
s1

{'p', 'q', 'r', 's'}

In [70]:
s1.remove("s")
s1

{'p', 'q', 'r'}

In [71]:
"p" in s1

True

In [72]:
s2 = {"p", "a", "b"}

In [73]:
s3 = s1 & s2
s3

{'p'}

In [74]:
s1.union(s2)

{'a', 'b', 'p', 'q', 'r'}

In [75]:
s3.issubset(s1)

True

In [78]:
s1.difference(s2)

{'q', 'r'}

In [76]:
A={1,2,3,4,5}
B={1,3,9, 12}
A&B   #intersection

{1, 3}

In [77]:
S={'A','B','C'}
U={'A','Z','C'}
U.union(S)

{'A', 'B', 'C', 'Z'}

### Dictionary

In [80]:
dictn = {"k1": 1, "k2": 2, "k3": 3}

In [82]:
dictn["k2"]

2

In [85]:
dictn["k4"] = 4

In [86]:
dictn

{'k1': 1, 'k2': 2, 'k3': 3, 'k4': 4}

In [87]:
del(dictn['k4'])

In [88]:
dictn

{'k1': 1, 'k2': 2, 'k3': 3}

In [89]:
'k1' in dictn

True

In [90]:
'k4' in dictn

False

In [91]:
dictn.keys()

dict_keys(['k1', 'k2', 'k3'])

In [92]:
dictn.values()

dict_values([1, 2, 3])

In [93]:
D={'a':0,'b':1,'c':2}

In [94]:
D.values()

dict_values([0, 1, 2])

In [95]:
D={'a':0,'b':1,'c':2}

In [96]:
D['b']

1

In [97]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}